# The Data Wrangling

My scripts are coming from [this database on Kaggle](https://www.kaggle.com/parthplc/movie-scripts)


The database used from Kaggle was incredibly messy and hard to work with. All files were unnamed, so I wrote a brief python script to rename each script to the first line of the file, which was normally the title of the film. This worked for the most part, but did also result in data loss, decreasing my sample size in the process. This script can be found in the "Scripts" directory of this repo.

In [16]:
#Gotta Bring Some Mates

import pandas as pd
import os

### www.bechdeltest.com API

The below code is used to call [The Bechdel Test Website](https://bechdeltest.com/) and receive a payload of the entire site. We can see the information below.

In [17]:
bechdel_df = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies')

In [18]:
bechdel_df.head()

   rating    id                                   title  year   imdbid
0       0  8040                   Roundhay Garden Scene  1888  0392728
1       0  5433                          Pauvre Pierrot  1892  0000003
2       0  9583                        Blacksmith Scene  1893  0000005
3       0  6200  Execution of Mary, Queen of Scots, The  1895  0132134
4       0  5444           Tables Turned on the Gardener  1895  0000014

In [19]:
bechdel_df.shape

(8930, 5)

In [20]:
bechdel_df.groupby('rating').describe()

            id                                                           \
         count         mean          std   min     25%     50%      75%
rating
0        918.0  4833.455338  2768.443096  15.0  2132.5  5002.5  7127.75
1       1969.0  4678.570340  2884.948847   3.0  2190.0  4612.0  7254.00
2        906.0  4736.759382  2785.521502   5.0  2173.0  4743.0  7135.50
3       5137.0  4756.908896  2711.082090   1.0  2460.0  4725.0  7013.00

                  year                                                   \
           max   count         mean        std     min      25%     50%
rating
0       9590.0   918.0  1983.530501  33.464880  1888.0  1965.25  1995.0
1       9598.0  1969.0  1996.637887  21.220757  1906.0  1988.00  2005.0
2       9596.0   906.0  1991.995585  26.188817  1909.0  1979.25  2002.0
3       9600.0  5137.0  1999.690481  20.490556  1899.0  1994.00  2007.0


           75%     max
rating
0       2010.0  2021.0
1       2012.0  2020.0
2       2012.0  2021.0
3       2013.0  2021.0

### Save to CSV To Work in EDA Notebook

In [22]:
bechdel_df.to_csv('../data/bechdel_test.csv')